body {
    background-image: url("../images/light-grey-terrazzo/light-grey-terrazzo.png");
}

header {
    color: #ffffff;
    background-color: #3F3040;
}

.main-content {
    color: rgb(211, 211, 211);
    background-color: #7E617F;
}

img {
    width: 24%;
    height: auto;
}

.crystal-image {
    width: 300px;
    height: 300px;
  }